In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
129,tt2713180,68000000,211817906,Fury,Brad Pitt|Shia LaBeouf|Logan Lerman|Michael Pe...,David Ayer,War never ends quietly.,Last months of World War II in April 1945. As ...,135,War|Drama|Action,Columbia Pictures|QED International|Crave Film...,10/15/2014,7.4,2014
1108,tt0295700,12600000,28650575,Wrong Turn,Desmond Harrington|Eliza Dushku|Emmanuelle Chr...,Rob Schmidt,It's the last one you'll ever take.,Chris crashes into a carload of other young pe...,84,Horror|Thriller,Summit Entertainment|Newmarket Capital Group|R...,5/30/2003,5.9,2003
1786,tt0393597,15000000,109000000,Earth,Patrick Stewart|Constantino Romero|James Earl ...,Alastair Fothergill|Mark Linfield,The remarkable story of three families.,From the acclaimed team that brought you BBC's...,90,Documentary,BBC,4/22/2007,7.5,2007
500,tt0212720,100000000,235926552,A.I. Artificial Intelligence,Haley Joel Osment|Frances O'Connor|Sam Robards...,Steven Spielberg,Journey to a world where robots dream and desire.,"11-year-old David, the first android with huma...",146,Drama|Science Fiction|Adventure,DreamWorks SKG|Amblin Entertainment|Stanley Ku...,6/29/2001,6.6,2001
994,tt1764651,100000000,312573423,The Expendables 2,Sylvester Stallone|Jason Statham|Dolph Lundgre...,Simon West,Back for War.,Mr. Church reunites the Expendables for what s...,103,Action|Adventure|Thriller,Nu Image Films|Millennium Films,8/8/2012,6.0,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [238]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']- data['budget']
data['release_month'] = data.release_date.apply(lambda x: x.split('/')[0])

genres_data = data[['imdb_id', 'genres']].copy()
genres_data.genres = genres_data.genres.apply(lambda x: x.split('|'))
genres_data = genres_data.explode('genres')

director_data = data[['imdb_id', 'director']].copy()
director_data.director = director_data.director.apply(lambda x: x.split('|'))
director_data = director_data.explode('director')

cast_data = data[['imdb_id', 'cast']].copy()
cast_data.cast = cast_data.cast.apply(lambda x: x.split('|'))
cast_data = cast_data.explode('cast')

prod_comp_data = data[['imdb_id', 'production_companies']].copy()
prod_comp_data.production_companies = prod_comp_data.production_companies.apply(lambda x: x.split('|'))
prod_comp_data = prod_comp_data.explode('production_companies')

display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717,7
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012,10
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180,6
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091,2
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,7

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [29]:
max_budget_film = data[data.budget == data.budget.max()]
display(max_budget_flm)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [15]:
max_runtime_film = data[data.runtime == data.runtime.max()]
display(max_runtime_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [19]:
min_runtime_film = data[data.runtime == data.runtime.min()]
display(min_runtime_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [26]:
answers['4'] = 110

In [23]:
mean_runtime = data.runtime.mean()
print(mean_runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [27]:
answers['5'] = 107

In [25]:
median_runtime = data.runtime.median()
print(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [37]:
answers['6'] = 'Avatar (tt0499549)'

In [36]:
max_profit_film = data[data.profit == data.profit.max()]
display(max_profit_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [40]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [39]:
min_profit_film = data[data.profit == data.profit.min()]
display(min_profit_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [43]:
answers['8'] = 1478

In [42]:
pos_profit_count = len(data[data.profit > 0])
print(pos_profit_count)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [55]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [46]:
films_2008 = data[data.release_year == 2008]
max_rev_2008 = films_2008[films_2008.revenue == films_2008.revenue.max()]
display(max_rev_2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [54]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [53]:
films_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_profit_2012_2014 = films_2012_2014[films_2012_2014.profit == films_2012_2014.profit.min()]
display(min_profit_2012_2014)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [103]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [222]:
genres_count = genres_data.groupby('genres').count().sort_values('imdb_id', ascending=False).head(1)
print(genres_count)

        imdb_id
genres
Drama       782

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [221]:
pos_profit = data[data.profit > 0][['imdb_id']]
pos_profit_genres = pos_profit.merge(genres_data, on='imdb_id', how='inner')
count = pos_profit_genres.groupby('genres').count().sort_values('imdb_id', ascending=False).head(1)
display(count)

        imdb_id
genres
Drama       560

In [104]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [119]:
answers['13'] = 'Peter Jackson'

In [230]:
merged = data.merge(director_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
director_revenue = merged.groupby('director_right')[['revenue']].sum()
display(director_revenue.sort_values('revenue', ascending=False).head(1))

                   revenue
director_right
Peter Jackson   6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [127]:
answers['14'] = 'Robert Rodriguez'

In [294]:
merged = data.merge(director_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
merged_action = merged[merged.genres.str.contains('Action')]
director_action = merged_action.groupby('director_right')[['imdb_id']].count()
display(director_action.sort_values('imdb_id', ascending=False).head(1))

                  imdb_id
director_right
Robert Rodriguez        9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'

In [227]:
data_2012 = data[data.release_year == 2012]
merged = data_2012.merge(cast_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
max_revenue_cast = merged.groupby('cast_right')[['revenue']].sum()
display(max_revenue_cast.sort_values('revenue', ascending=False).head(1))

                    revenue
cast_right
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [153]:
answers['16'] = 'Matt Damon'

In [296]:
high_budget = data[data.budget > data.budget.mean()]
merged = high_budget.merge(cast_data, on='imdb_id', how='inner', suffixes=('_left', '_right')) 
high_budget_cast = merged.groupby('cast_right')[['imdb_id']].count()
display(high_budget_cast.sort_values('imdb_id', ascending=False).head(1))

            imdb_id
cast_right
Matt Damon       18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [156]:
answers['17'] = 'Action'

In [295]:
nicolas_cage_films = cast_data[cast_data.cast == 'Nicolas Cage']
nicolas_cage_all_genres = nicolas_cage_films.merge(genres_data, on='imdb_id', how='inner')
nicolas_cage_genre = nicolas_cage_all_genres.groupby('genres')[['imdb_id']].count()
display(nicolas_cage_genre.sort_values('imdb_id', ascending=False).head(1))

        imdb_id
genres
Action       17

# 18. Самый убыточный фильм от Paramount Pictures

In [165]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [297]:
param_pict_films = data[data.production_companies.str.contains('Paramount Pictures')]
param_pict_min = param_pict_films[param_pict_films.profit == param_pict_films.profit.min()]
display(param_pict_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_words_count,title_len,overview_words_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,3,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [170]:
answers['19'] = 2015

In [232]:
max_revenue_year = data.groupby('release_year')[['revenue']].sum().sort_values('revenue', ascending=False).head(1)
display(max_revenue_year)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [174]:
answers['20'] = 2014

In [298]:
warner_bros_films = data[data.production_companies.str.contains('Warner Bros')]
warner_bros_profit_year = warner_bros_films.groupby('release_year')[['profit']].sum()
display(warner_bros_profit_year.sort_values('profit', ascending=False).head(1))

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [186]:
answers['21'] = 9

In [299]:
most_active_month = data.groupby('release_month')[['imdb_id']].count()
display(most_active_month.sort_values('imdb_id', ascending=False).head(1))

               imdb_id
release_month
9                  227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [210]:
answers['22'] = 450

In [211]:
summer_months = ['6', '7', '8']
summer_films_count = data[data['release_month'].isin(summer_months)]['imdb_id'].count()
display(summer_films_count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [236]:
answers['23'] = 'Peter Jackson'

In [300]:
winter_months = ['12', '1', '2']
winter_films = data[data['release_month'].isin(winter_months)]
winter_films_director = winter_films.merge(director_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
winter_director = winter_films_director.groupby(['director_right'])[['imdb_id']].count()
display(winter_director.sort_values('imdb_id', ascending=False).head(1))

                imdb_id
director_right
Peter Jackson         7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [289]:
answers['24'] = 'Four By Two Productions'

In [291]:
data['title_len'] = data.original_title.apply(lambda x: len(x))
merged = data.merge(prod_comp_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
longest_title_comp = merged.groupby('production_companies_right')[['title_len']].mean()
display(longest_title_comp.sort_values('title_len', ascending=False).head(1))

                            title_len
production_companies_right
Four By Two Productions          83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [250]:
answers['25'] = 'Midnight Picture Show'

In [292]:
data['overview_words_count'] = data.overview.apply(lambda x: len(x.split(' ')))
merged = data.merge(prod_comp_data, on='imdb_id', how='inner', suffixes=('_left', '_right'))
longest_overview_words_comp = merged.groupby('production_companies_right')[['overview_words_count']].mean()
display(longest_overview_words_comp.sort_values('overview_words_count', ascending=False).head(1))

                            overview_words_count
production_companies_right
Midnight Picture Show                      175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [260]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [293]:
best_films = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['original_title', 'vote_average']]
display(best_films.sort_values('vote_average', ascending=False).head(1))

      original_title  vote_average
599  The Dark Knight           8.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [271]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [301]:
merged = cast_data.merge(cast_data, on='imdb_id', how='inner')
merged = merged[merged.cast_x != merged.cast_y]
friends_cast = merged.groupby(['cast_x', 'cast_y'])[['imdb_id']].count()
display(friends_cast.sort_values('imdb_id', ascending=False).head(1))

                               imdb_id
cast_x       cast_y
Rupert Grint Daniel Radcliffe        8

ВАРИАНТ 2

# Submission

In [273]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'24': 'Warner Bros.',
 '25': 'Warner Bros.',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)